<section class="timeline">
    <div class="event left" (click)="toggleEvent($event)">
        <h2>2010 - 2012</h2>
        <p>SRH Heidelberg</p>
        <p>Ausbildung zum staatlich anerkannten Informatiker "Game Multimedia Entwicklung".</p>
    </div>
    <div class="event right" (click)="toggleEvent($event)">
        <h2>2013 - 2017</h2>
        <p>Webentwicklung</p>
        <p>OBCC Online Business and Community Communication</p>
    </div>
    <div class="event left" (click)="toggleEvent($event)">
        <h2>2017 - 2018</h2>
        <p>Fachoberschule Konrad-Zuse Schule Hünfeld</p>
    </div>
    <div class="event right" (click)="toggleEvent($event)">
        <h2>2018 - 2024</h2>
        <p>Fachhochschule Fulda</p>
        <p>Bachelor "Digitale Medien"</p>
    </div>
</section>
