<!-- app.component.html -->
<div class="container">
  <!-- Navigation -->
  <nav class="navbar">
    <ul>
      <li><a routerLink="/about-me" routerLinkActive="active">Ich</a></li>
      <li><a routerLink="/education" routerLinkActive="active"> Ausbildung </a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projekte</a></li>
    </ul>
  </nav>
  
  <div class="main">
  <router-outlet></router-outlet>
  </div>
  <!-- Footer -->
  <footer class="footer">
    <p>&copy; {{ currentYear }} Ingo's Portfolio Alle Rechte vorbehalten.</p>
  </footer>
</div>
