<div class="project-container">
    <div class="project-content">
        <img src="/assets/screen.png" alt="Bachlorarbeit" class="project-image">
        <div class="project-title">Bachlorarbeit</div>
        <div class="project-description">Der Prototyp dieser Bachelorarbeit visualisiert komplexe Datenstrukturen, indem er große Datenmengen grafisch darstellt und interaktive Funktionen wie Zoom und Filterung unterstützt. Mithilfe des Cytoscape-Frameworks werden Daten aus einem Ursprungsformat in ein visuell optimiertes Diagramm umgewandelt. 
          Die Darstellung umfasst verschiedene Layouts und ermöglicht eine flexible Anpassung der Knoten- und Kantenfarben</div>
    </div>
    <div class="project-links">
        <a href="https://github.com/user/project" class="github-link" target="_blank">GitHub</a>
        <a href="https://liveview.com/project" class="live-view-link" target="_blank">Live View</a>
    </div>
  </div>
  